# fly.toml app configuration file generated for bot-cliente-andres2 on 2025-11-26T23:54:59-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-cliente-andres2'
primary_region = 'dfw'

[build]

[env]
  DATA_DIR = '/data'

[[mounts]]
  source = 'bot_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
